<html>
<head>
    <title>
        Bouncing Ball
    </title>
</head>
<body>
    <form action="/drawGraph" method="POST">
        Coeff of restitution  <input type="number" name="restitution" placeholder="height" step="0.0001"/><br>
        height <input type="number" name="height" placeholder="height" step="0.0001"/><br>
        {{!-- <button type="submit">SUBMIT</button> --}}
        <input type="submit" value="Submit"/>



    </form>
</body>
</html>